body{
  margin: 0;
  background-color: #efefeb;
}

h2{
  font-family: 'Bitter', 'Times', serif;
  text-transform: uppercase;
}

/* header left/right styles */
.header-left-items{
  width: 80%;
  margin: 10px auto;
  display: flex;
}

.shop-icon{
  border: solid 1px #dcdcd9;
  height: 75px;
  width: 75px;
  margin: 20px 10px;
}

.fav-heart{
  border: solid 1px #dcdcd9;
  background-color: white;
  border-radius: 1%;
}

.item-header{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.sample-item{
  margin: 10px;
  border: solid 1px #dcdcd9;
  height: 75px;
  width: 75px;
  margin: 20px 10px;
}

.header-right-items{
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}

.favorite{
  display: flex;
  flex-direction: row;
  width: 565px;
  height: 67px;
  background-color: lightgrey;

}

.customorder{
  display: flex;

}

.add-to{
  margin: 15px;
  background-color: white;
  border: solid 1px #dcdcd9;

}

.fa:hover{
  opacity: 0.7;
}

.fa-facebook{

  color: #627AAD;
  margin: 15px;
}

.fa-pinterest{
Color: #D84D54;
margin: 15px;
}

.fa-twitter{
Color: #33C0F1;
margin: 15px;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

/*Carousel CSS*/
.mainPictureForCarouselHolder{
  width: 570px;
  height: 724px;
  background-color: #F5F5F1;
  position: relative;
  cursor: pointer;
}

.imageCarouselAll{
  /*border: 15px;*/
}

#mainPictureForCarousel{
  position: absolute;
   margin: auto;
   top: 0;
   bottom: 0;
   /*right: 0;
   left: 0;*/
}

.subCarouselImage{
  background-color: #999999;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 10%;
  display: inline;
  /*display: flex;
  flex-direction: row;*/
  transition: background-color 0.6s ease;
}

.subCarouselImageHolder{
  width: 570px;
  height: 50px;
  /*display: inline;*/
  display: flex;
  flex-direction: inline;
  align-items: center;
  justify-content: center;
  /*align-self: center;*/
}

.active, .subCarouselImage:hover {
  background-color: #717171;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/*.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}*/


/* wrapper for all data */
.products-wrapper{
  width: 75%;
  background-color: white;
  margin: 0 auto;
  border: solid 1px #dcdcd9;
  border-radius: 1%;
  padding: 35px;
}
