.App {
  /*text-align: center;*/
}

/*------------ETSY INFO STYLES BEGIN-----------*/
.etsyinfo-parent {
  display: flex;
  padding: 10px;
}

.etsyinfo-child {
  text-align: center;
  margin: 10px;
  width: 30%;
  color: #666666;
}

.etsyinfo-child h3{
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

.etsyinfo-child p {
  font-size: 13px;
  margin-top: 5px;
  font-weight: 300;
  line-height: 20px;
}

/*-------------SLIDER STYLES BEGIN-------------*/
.slider-parent {
	border: 1px solid #dcdcd9;
	border-radius: 2px;
	display: flex;
}

.slider-child {
	border: 1px solid #dcdcd9;
	border-radius: 2px;
	width: 205px;
	margin: 10px;
}

.slider-child h3 {
	/*font-family: 'Lato','Arial', sans-serif;*/
	font-weight: 300;
	font-size: 13px;
	color: #666666;
	margin: 8px ;
}

.slider-child a {
	text-decoration: none;
}
